<!DOCTYPE html>
<html>
  <head>
    <title>Vue Tutorial - Grid</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/grid.css">

  </head>
  <body>

    <!-- v-cloak hides any un-compiled data bindings until the Vue instance is ready. -->

    <form id="main" v-cloak>

      <div class="bar">

        <!-- These two button switch the layout variable, which causes the correct UL to be shown. -->
        <a class="list-icon" v-bind:class="{ 'active': layout == 'list' }" v-on:click="layout = 'list'"></a>
        <a class="grid-icon" v-bind:class="{ 'active': layout == 'grid' }" v-on:click="layout = 'grid'"></a>

      </div><!-- /.bar -->

      <!-- We have two layouts. We choose which one to show depending on the layout binding. -->
      <ul v-if="layout == 'grid'" class="grid">
        <!-- A view with big photos and no text. -->
        <li v-for="a in articles">
          <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.large" /></a>
        </li>
      </ul>
      <ul v-if="layout == 'list'" class="list">
        <!-- A compact view with smaller photos and titles. -->
        <li v-for="a in articles">
          <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.small" /></a>
          <p>{{ a.title }}</p>
        </li>
      </ul>
      
    </form><!-- /#main -->

    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="/js/grid.js"></script>

  </body>
</html>